@model IEnumerable<DogBreedApi.Root>

<head>
    <link rel="stylesheet" href="~/css/list.css" />
</head>

<div class="banner">
</div>


@foreach (DogBreedApi.Root r in Model)
{
    if (r.Id.ToString() == (string)ViewData["BreedId"])
    {
        <div class="details-card-container">
            <div class="details-card">
                <h1>@r.Name</h1>
                <div class="row">
                    <div class="col-6">
                        <div class="img-container">
                            <img class="card-img-top" src="@r.Image.Url" alt="Card image cap" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.BreedGroup)
                                </dt>
                                <dd class="col-sm-8">
                                    @r.BreedGroup
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Origin)
                                </dt>
                                <dd class="col-sm-8">
                                    @r.Origin
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.BredFor)
                                </dt>
                                <dd class="col-sm-8">
                                    @r.BredFor
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Temperament)
                                </dt>
                                <dd class="col-sm-8">
                                    @r.Temperament
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.LifeSpan)
                                </dt>
                                <dd class="col-sm-8">
                                    @r.LifeSpan
                                </dd>
                                <dt class="col-sm-4">
                                    Weight
                                </dt>
                                <dd class="col-sm-8">
                                    @r.Weight.Imperial lbs
                                </dd>
                                <dt class="col-sm-4">
                                   Height
                                </dt>
                                <dd class="col-sm-8">
                                    @r.Height.Imperial Inches
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

