@model PuppyStoreFinal.Models.Puppy

@{
    ViewData["Title"] = "View";
}

<head>
    <link rel="stylesheet" href="~/css/list.css" />
</head>

<div class="banner">
</div>

<div class="details-card-container">
    <div class="details-card">
        <h1>@Model.Nickname</h1>
        <div class="row">
            <div class="col-6">
                <div class="img-container">
                    <img class="card-img-top" src=@("/puppy-pictures/" + Model.PuppyId.ToString() + ".jpg") alt="Card image cap" />
                </div>
            </div>
            <div class="col-6">
                <div>
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Breed)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Breed)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Birthday)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Birthday)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Age)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Age) Weeks
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Sex)
                        </dt>
                        <dd class="col-sm-10">
                            @if (Model.Sex == true)
                            {
                                <p>Female</p>
                            }
                            else 
                            {
                                <p>Male</p>
                            }
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>





